<link rel="staylesheet" href="css/bootstrap.min.css"/>
<script src="js/jquery-1.9.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>

<script>
  $(function () {
    $('#tabs a:first').tab('show')
  })


</script>  


<%= simple_form_for(@form, :html => { :multipart => true}) do |f| %>

<%= f.input :name,  :input_html => {:style => 'width: 100%'}, label: 'Program Name'  %>


<table class="table table-striped"> 
<tr>
  <td><%= f.input :sox_number, label: 'SOX Number' %></td>
      <td><%= f.input :start_at, :as => :datepicker %> </td>
      <td><%= f.input :end_at, :as => :datepicker  %></td>
       <td>   <%= f.input :status %> </td>
</tr>
</table>

  


<ul class="nav nav-tabs" id="tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Program Summary</a></li>
    <li><a href="#tab2" data-toggle="tab">Execution</a></li>
    <li><a href="#tab3" data-toggle="tab">PAR Upload</a></li>
</ul>


<div class="tab-content">
  


  <div class="tab-pane active" id="tab1"> 
  <%= f.input :province, :collection => Form::BO_PR , :as => :check_boxes, item_wrapper_class: 'inline' %>
  <%= f.input :tobacco_class, :collection => Form::BO_CLASS, :as => :radio_buttons, item_wrapper_class: 'inline' %>
  <%= f.input :brand %>
  <%= f.input :targeted_stores %>
  <%= f.input :printable_sox_form, label: 'Upload Target List' , input_html: {accept: ('application/pdf') },:class => 'btn-primary'  %>
  <%= f.input :rationale %>

  </div>



  <div class="tab-pane" id="tab2"> 


    
    <%= f.simple_fields_for :program_types, :wrapper => 'inline' do |program_type| %>
    <%= render 'program_type_fields', :f => program_type, :render_options => { :wrapper => 'inline' } %>
    <% end %>

   
    <%= link_to_add_association "Add Program Type", f, :program_types %>  

 </div>






  <div class="tab-pane" id="tab3">  

    <%= link_to_add_association "Add PAR", f, :par_result, :class => "btn btn-primary" %>

   </div>

</div>



  </br><%= f.button :submit, :class => 'btn-primary' %>
  <%= f.button :submit, :class => 'btn-primary'
  submit_tag 'Cancel', :type => :reset, :class => "btn btn-danger" %>


<% end %>


