
<div class="nested-fields">

	  <%= f.input :par_version, label:"PAR Version Name" %>	
	  <%= f.input :incremental_cartons %>
	  <%= f.input :spend %>
  	  <%= f.input :lift_percent %>
  	  <%= f.input :incremental_margin %>
  	  <%= f.input :roi %>
  	  <%= f.input :overall_score %>
  	  <%= f.input :comments %>
  	  <%= f.input :par_link %>
<%= link_to_remove_association "Remove PAR", f %>

</div>
