
<div class="nested-fields">
<p>
	  <%= f.input :incremental_cartons %><br />
	  <%= f.input :spend %><br />

  	  <%= f.input :lift_percent %><br />
  	  <%= f.input :incremental_margin %><br />
  	  <%= f.input :roi %><br />
  	  <%= f.input :overall_score %><br />
  	  <%= f.input :comments %><br />

<%= link_to_remove_association "Remove PAR", f %>

</p>
</div>
